<!--The content below is only a placeholder and can be replaced.-->
<div class="main-content">
<div class="main-content-top"></div>
<h3 class="main-content-intro">UI Case Study : Hotel Booking Application</h3>
<div class="main-content-bottom"></div>
</div>
<section>
  <div class="row">
    <div class="col-sm-3 col-md-3" style="padding: 20px 0px 0px 40px">
      <img src="../assets/images/main.jpg" width="187" height="232"/>
    </div>
    <div class="col-sm-9 col-md-9">
        <router-outlet></router-outlet>
    </div>
  </div>
</section>
<footer>Accenture &copy; 2017</footer>


